
*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
:root{
    --cor-primaria:rgb(241, 241, 241);
    --cor-secundaria: rgb(209, 209, 209);
}
body{
    padding: 0%;
    margin: 0%;
    text-align: center;
    background-color: var(--cor-primaria);
}
a{
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
a.nav:hover{
    text-shadow: 0 1px 3px black;
    background-color: var(--cor-secundaria);
}
/*----------------- Tela de log---------------------------------*/
div#banner{
    position: fixed;
    left: 0%;
    display: inline-block;
    width:60%;
    height: 100%;
    background: url("../image/banner.jpg") no-repeat bottom center;
    box-shadow: inset 0px 0px 20px 40px rgba(0, 0, 0, 0.671);
}
    
div#log{
    display: inline-block;
    width: 40%;
    height: 100%;
    position: fixed;
    right: 0%;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.11);
    text-align: center;   
}
div#log h1{
    margin: 50px;
}
form input{
    text-align: center;
    margin: 7px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.562);
}
div#menuPrincipal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*--------------------Menu Principal-----------------------*/
img.icon{
    margin: 15px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 10px 11px 17px 2px rgba(0, 0, 0, 0.781);
}
img.icon:hover{
    width: 160px;
    height: 160px;
    transition: 0.5s;
}
/*--------------------------------Estoque------------------------*/
table.produtosResultado{
    margin: auto;
    border-collapse: collapse;
    width: 900px;
    max-width: 98%;
}
table td{
    border: 1px solid black;
    
}
/*--------------------Vendas-----------------------------------*/
div#listaVendas{
    text-align: center;
    position: fixed;
    left: 0%;
    background-color: var(--cor-primaria);
    width: 40%;
    height: 100%;
    padding: 100px 20px;
}
div#listaVendas input{
    padding: 20px;
    box-shadow: 10px 11px 17px 2px rgba(0, 0, 0, 0.781);
}
div#impressao{
    position: fixed;
    right: 0%;
    background-color: var(--cor-secundaria);
    width: 60%;
    height: 100%;
}
div#finalizar{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-primaria) ;
    padding: 10px 20px;
    border-radius: 15px;
}
div#finalizar:hover{
    background-color: black;
    color: white;
}
footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 0px 2%;
    text-align: left;
    font-size: 1.3em;
}
footer p{
    text-align: right;
}
/*-----------------------MODAL------------------------*/
div.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.671);
}
div#modall{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:90%;
    width: 700px;
    max-height: 90%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}
div#modall > a.sair{
    background-color: rgb(129, 129, 129);
    color: white;
    display: inline;
    margin: 97%;
    padding: 10px;
    border-radius: 20px;
}
div.modal form{
    text-align: right;
    font-size: 0.8em;
}
